.todo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}